@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-dark-bg: #171717;
	--color-dark-text: #ffffff;
	--color-light-bg: #ffffff;
	--color-light-text: #171717;
}