---
import { getCollection } from 'astro:content';
import Title from './Title.astro';
import ArticleCard from './ArticleCard.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="w-full max-w-[900px] dark:text-dark-text text-light-text flex flex-col gap-7 my-10">
  <Title text="Articles" />

  <div class="flex flex-col gap-10 items-center justify-center w-full">
    {
      posts.length === 0 ? (
        <p class="text-center dark:text-dark-text/50 text-light-text/50 text-xl fade-up py-10">
          Nothing to show yet :(
        </p>
      ) : (
        posts.map(post => <ArticleCard content={post} />)
      )
    }
  </div>
</section>
