---
import { request } from 'http-sentinel';

interface GithubResponse {
  stargazers_count: number;
}

const { success, data, error } = await request.get<GithubResponse[]>(
  'https://api.github.com/users/JorgeRosbel/repos?per_page=100&page=1'
);

const stars = data?.reduce((acc: number, curr: GithubResponse) => {
  return acc + curr.stargazers_count;
}, 0);

const errorMessage = success
  ? 'Github Stars'
  : error?.statusCode === 403 || error?.statusCode === 429
    ? 'Too Many Request'
    : error?.message;

const elements = [
  { data: '2+', label: 'Years of Experience' },
  { data: '10+', label: 'Projects Completed' },
  { data: `${success ? stars : '???'}+`, label: errorMessage },
];
---

<article
  class="w-full grid grid-cols-1 md:grid-cols-3 mt-12 border-y py-10 dark:border-dark-text/10 border-light-text/10 gap-6 fade-up"
>
  {
    elements.map(element => (
      <div class="flex flex-col gap-3 items-center">
        <span class="text-5xl font-bold dark:text-dark-text text-light-text">{element.data}</span>
        <span class="font-semibold dark:text-dark-text/80 text-light-text/80">{element.label}</span>
      </div>
    ))
  }
</article>
