---
import Title from './Title.astro';
---

<section
  class="w-full max-w-[900px] dark:text-dark-text text-light-text flex flex-col my-10 gap-2 text-[1.1rem]"
>
  <Title text="Experience" />

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] mt-9 before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I designed and developed
      <a
        href="https://mvp.neusgen.com/"
        class="underline underline-offset-4"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <span class="font-semibold">NeusGen</span>
      </a>, an AI-powered educational platform for high school students, delivering adaptive content
      and real-time feedback to enhance personalized learning.
    </p>
  </article>

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I built
      <a
        href="https://tool.geofisik.com/"
        rel="nofollow noopener noreferrer"
        class="underline underline-offset-4"
        target="_blank"
      >
        <span class="font-semibold">Geofisik Tool</span>
      </a>, a geophysical web application to monitor and analyze vertical displacements in
      structures over time, integrating interactive maps, time-series charts, and automated anomaly
      detection.
    </p>
  </article>

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I created
      <a
        href="https://emoteshowcase.com/"
        rel="nofollow noopener noreferrer"
        class="underline underline-offset-4"
        target="_blank"
      >
        <span class="font-semibold">EmoteShowcase</span>
      </a>, a web app that allows dynamic resizing and visualization of emotes and badges, with live
      previews, batch processing, and optimized export for streaming platforms.
    </p>
  </article>

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I developed <span class="font-semibold">NeusWebs Developer</span>, a complete grade‑management
      system for school subjects, including role-based access, customizable grading scales, and
      automated report generation.
    </p>
  </article>

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I built
      <a
        href="https://github.com/JorgeRosbel/http-sentinel"
        rel="nofollow noopener noreferrer"
        class="underline underline-offset-4"
        target="_blank"
      >
        <span class="font-semibold">http-sentinel</span>
      </a>, a TypeScript library that provides a complete set of HTTP error classes and utilities
      for consistent and structured error handling in applications.
    </p>
  </article>

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I created
      <a
        href="https://github.com/JorgeRosbel/gitzen"
        rel="nofollow noopener noreferrer"
        class="underline underline-offset-4"
        target="_blank"
      >
        <span class="font-semibold">gitzen</span>
      </a>, an AI-driven command-line tool designed to generate descriptive and meaningful Git
      commit messages automatically, improving developer workflow.
    </p>
  </article>

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I designed
      <a
        href="https://github.com/JorgeRosbel/NovaBoost"
        rel="nofollow noopener noreferrer"
        class="underline underline-offset-4"
        target="_blank"
      >
        <span class="font-semibold">NovaBoost</span>
      </a>, a free blog template built with Astro 5 and TailwindCSS, featuring SEO optimizations,
      JSON-LD integration, and optional AI-generated post support.
    </p>
  </article>

  <article
    class="fade-up relative before:absolute before:h-[2px] before:w-[9px] before:bg-light-text/60 dark:before:bg-dark-text/60
  before:left-[-16px] before:top-[0.7em] before:leading-[1.1rem]"
  >
    <p class="dark:text-dark-text/90 text-light-text/90">
      I developed
      <a
        href="https://github.com/JorgeRosbel/easy-consent"
        rel="nofollow noopener noreferrer"
        class="underline underline-offset-4"
        target="_blank"
      >
        <span class="font-semibold">easy-consent</span>
      </a>, a lightweight solution for managing cookie consent and configurations, currently in beta
      and aimed at simplifying GDPR compliance.
    </p>
  </article>
</section>
