---
import Title from './Title.astro';
---

<section class="w-full max-w-[900px] dark:text-dark-text text-light-text flex flex-col gap-7 my-10">
  <Title text="Experience" />
  <p class="text-center dark:text-dark-text/50 text-light-text/50 text-xl fade-up py-10">
    Nothing to show yet :(
  </p>
</section>
