---
const today = new Date();
---

<footer class="w-full h-20 flex items-center justify-center text-light-text dark:text-dark-text">
  <p>&copy; {today.getFullYear()} Created with ❤️ by Jorge Rosbel</p>
</footer>
