---
import Header from '@/components/Header.astro';
import BaseHead from '@/components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="JorgeRosbel | Portfolio" description="" />
  </head>
  <body class="dark:bg-dark-bg w-full bg-light-bg">
    <Header />
    <main class="w-full max-w-[1200px]">
      <slot />
    </main>
  </body>
</html>
